node_modules/
npm-debug.log
yarn-error.log
package-lock.json
dist/
build/
coverage/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.venv
pip-log.txt
pip-delete-this-directory.txt
.DS_Store
Thumbs.db
ehthumbs.db
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
